@font-face {
    font-family: 'Open Sans Normal';
    src: url('./fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Neucha';
    src: url('./fonts/Neucha-Regular.ttf');
}

* {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --translucent-white: #d7ccc0;
    --bright: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --translucent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body {
    margin: 0;
    font-family: 'Open Sans Normal';
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}

.bg-bright {
    position: relative;
    background-color: var(--bright);
}

.bg-brown {
    position: relative;
    background-color: var(--brown);
}

.bg-bright::before,
.bg-brown::before {
    content: '';
    position: absolute;
    background-image: url('./images/background.png');
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.inner {
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Neucha';
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.color-orange {
    color: var(--main)
}

.image-header {
    position: absolute;
    top: 55px;
    right: -270px;
    height: 525px;
}


.header-column-2 {
    column-count: 2;
    margin-top: 200px;
}

.no-break {
    break-inside: avoid;
}

.no-break p {
    margin-bottom: 52px;
}

p {
    margin: 0;
}

.btn {
    padding: 12px 24px;
    margin-bottom: 12px;
}

.button-style {
    background-color: var(--main);
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    font-family: 'Open Sans Bold';
}

.btn:hover {
    background-color: #EA7600;
}

.bg-white {
    background-color: var(--white);
}

.inner-video-section {
    width: 1110px;
    margin: 0 auto;
    height: 819px;
    position: relative;
    padding: 100px 0;
}

.video-section-title {
    text-align: center;
}

.video-section-title p {
    margin-top: 30px;    
    margin-bottom: 30px;
}

.video {
    position: absolute;
    top: 329px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.bg-dark {
    background-color: var(--main-dark);
}

.first-card-title {
    font-size: 52px;
    font-family: 'Neucha';
    line-height: 1.2em;
    color: var(--white)
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.first-card {
    width: 350px;
    margin-right: 30px;
}

.card {
    padding: 24px;
    background-color: var(--bright);
    width: 350px;
    margin: 0 30px 20px 0;
    text-decoration: none;
    color: var(--dark);
}

.card-number {
    margin-bottom: 40px;
    font-size: 64px;
    font-family: 'Neucha';
    line-height: 1;
}

.card-title {
    color: var(--main);
    margin-bottom: 16px;
}

.mr-0 {
    margin-right: 0;
}

.card-description {
    font-size: 16px;
    margin: 0;
}

.card:hover,
.card:hover h3 {
    color: var(--white);
    background-color: var(--main);
}

.intro {
    display: flex;
    margin-bottom: 100px;
}

.section-title-block-dark {
    margin: 0 0 0 30px;
    font-family: 'Neucha';
}

.pretitle {
    font-size: 24px;
    color: var(--translucent-dark);
}

.title {
    margin-bottom: 30px;
}

.title-description {
    font-size: 34px;
    line-height: 1.2em;
}

.column-2 {
    column-count: 2;
}

.column-2 p {
    break-inside: avoid;
}

.how-it-shows-dark h4 {
    text-transform: uppercase;
    background-color: var(--brown);
    color: var(--white);
    padding: 5px 10px;
    column-span: all;
    margin: 0;
    margin-bottom: 20px;
}

.how-it-shows-light h4 {
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--brown);
    padding: 5px 10px;
    column-span: all;
    margin: 0;
    margin-bottom: 20px;
}

.how-it-shows-light {
    color: var(--white)
}

.section-title-block-light {
    color: var(--white);
    font-family: 'Neucha';
    margin: 0 30px 0 0;
}

.pretitle {
    color: var(--translucent-white)
}

.intro img {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.sr-only {
    position: absolute;
  
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
}

.h-190 {
    height: 190px;
}

.input {
    height: 50px;
    padding: 15px;
}

.display-flex {
    display: flex;
    align-items: center;
}

.footer-title {
    flex-basis: 50%;
}

.footer-title h3 {
    margin: 55px;
    color: var(--white);
}

.form {
    flex-basis: 50%;
    margin-right: 55px;
    position: relative;
}

.form-name {
    font-size: 18px;
    color: var(--white);
    margin-bottom: 9px;
}

.input {
    width: 100%;
    position: relative;
    border: none;
}

.submit {
    position: absolute;
    right: 0;
    width: 70px;
    height: 50px;
    background-color: var(--main);
    border: none;
}

.submit::before {
    content: '';
    position: absolute;
    background-image: url('./images/send.svg');
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.disclamer {
    color: var(--white);
}

.disclamer a {
    color: var(--white);
}

.contacts {
    margin-top: 60px;
    font-size: 16px;
    text-align: center;
}

